* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: rgba(18, 18, 18, 1);
    height: 10000px;
}

section {
    width: 1440px;
    margin: auto;
}

h2 {
    font-family: Roboto;
    font-size: 62px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: left;
}

h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;

}

h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;

}


h5 {
    font-size: 12px;
    line-height: 30px;

}


.container1 {
    width: 100%;
    margin: 0 auto;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style-type: none;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    gap: 10px;
    background: #FF5634;
    border: 1px solid #FF5634;
    border-radius: 12px;
    width: 114px;
    height: 56px;
    left: 180px;
    color: #FFFFFF;
}

.btn1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    gap: 10px;
    background: #FF5634;
    border: 1px solid #FF5634;
    border-radius: 16px;
    width: 247px;
    height: 56px;
    left: 180px;
    color: #FFFFFF;
}


/*header*/
header {
    .container1 {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 1222px;
        height: 56px;
        margin: auto;
        margin-top: 32px;
        margin-bottom: 32px;

    }

    img {
        margin-right: 530px;
    }
}

header {
    ul {
        display: flex;
    }
}

header ul li {
    margin-right: 60px;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.02em;
}

/*block1*/
.block1 {
    width: 1440px;
    height: 912px;
    margin-top: 120px;
    background: url('Pictures/Food.png') right no-repeat;
    margin: auto;
    position: relative;
    box-shadow: 0px -5px 8px 1px rgba(34, 60, 80, 0.2);
}

.mobile {
    background: url('Pictures/mobile.png') no-repeat;
    position: absolute;
    height: 710px;
    left: 52.05%;
    right: 18.82%;
    top: 150px;
}

.text {
    position: relative;

    p {
        color: rgba(255, 86, 52, 1);
        font-size: 18px;
        line-height: 20px;
        letter-spacing: 1.0800000429153442px;
        text-align: left;
        margin-left: 109px;
        padding-top: 156px;


    }

    h2 {
        position: absolute;
        left: 7%;
        top: 200px;
    }

    .small_text {
        position: absolute;
        left: 7%;
        top: 361px;
    }

    .btn1 {
        position: absolute;
        height: 73px;
        left: 15%;
        top: 475px;
    }

    hr {
        width: 570px;
        position: absolute;
        height: 1px;
        left: 6.5%;
        top: 602px;
    }
}

.BIG {
    ul {
        display: flex;
        width: 1222px;
        height: 56px;
        margin: auto;
        margin-top: 32px;
        margin-bottom: 32px;
        position: absolute;
        height: 67px;
        left: 7%;
        top: 639px;
        gap: 57px;

        span {
            color: #FF5634
        }
    }
}

.SMALL {
    ul {
        display: flex;
        width: 1222px;
        height: 56px;
        margin: auto;
        margin-top: 32px;
        margin-bottom: 32px;
        position: absolute;
        height: 71px;
        left: 7%;
        top: 713px;
        gap: 48px;
    }
}


/*Block 2*/
.block2 {
    width: 1440px;
    margin: auto;
    margin-top: 100px;

    h4 {
        text-align: center;
    }

    hr {
        margin-top: 80px;
        margin-left: 50px;
        margin-right: 50px;
    }
}

.rest_line {
    ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
    }
}


/*Block 3*/
.block3 {
    width: 1440px;
    margin: auto;

    .btn1 {
        margin: auto;
    }

    p {
        color: #FF5634;
        text-align: center;
        margin-top: 150px;
    }

    h2 {
        text-align: center;
        font-size: 50px;
    }

    h5 {
        text-align: center;
    }

    .foto_line {
        ul {
            display: flex;
            justify-content: space-around;
            margin-top: 150px;
        }

        img {
            transition: all 0.3s ease;
        }

        img:hover {
            transform: scale(1.5);
        }

        p {
            font-size: 28px;
            color: rgba(18, 18, 18, 1);
            margin-top: -120px;
        }

        h4 {
            text-align: center;
            margin-top: -170px;
        }
    }
}

/*Block 4*/
.block4 {
    height: 854px;
    background-color: rgba(18, 18, 18, 1);
    margin-top: 80px;
    position: relative;

    img {
        position: absolute;
        height: 854px;
        left: 52%;
    }

    h2 {
        color: white;
        position: absolute;
        height: 133px;
        left: 14%;
        right: 53%;
        top: 250px;
    }

    h5 {
        color: #FFFFFF;
        position: absolute;
        left: 14%;
        right: 50%;
        top: 478px;
    }

    .btn1 {
        position: absolute;
        height: 73px;
        left: 21%;
        right: 0%;
        top: 590px;
    }
}

/*Block 5*/
.block5 {
    position: relative;

    .fon {
        margin-top: 150px;
        background: url('Pictures/L1.png') no-repeat;
        width: 598px;
        height: 689px;
        position: absolute;
        left: 10%;
    }

    .phone {
        background: url('Pictures/L2.png') no-repeat;
        position: absolute;
        width: 349px;
        height: 704px;
        left: 16%;
        top: 220px;
    }

    .men {
        background: url('Pictures/L3.png') no-repeat;
        position: absolute;
        width: 349px;
        height: 704px;
        left: 22%;
        top: 380px;
    }

    h3 {
        font-size: 44px;
        position: absolute;
        height: 108px;
        left: 58%;
        right: 0%;
        top: 302px;
    }

    h4 {
        font-size: 22px;
        position: absolute;
        height: 91px;
        left: 58%;
        right: 5%;
        top: 570px;
        font-weight: bold;
    }

    h4::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: -46%;
        top: 25px;
        background: url(Pictures/A1.png) center no-repeat;
    }

    h5 {
        font-size: 16px;
        position: absolute;
        height: 91px;
        left: 58%;
        right: 5%;
        top: 449px;
    }

    p {
        font-size: 13px;
        line-height: 1.8;
        position: absolute;
        height: 91px;
        left: 63%;
        right: 9%;
        top: 619px;
    }

}