@font-face {
    font-family: 'Zaychik-Regular';
    src: url(./Zaychik-Regular.eot);
    src: url(./Zaychik-Regular.eot?#iefix) format('embedded-opentype'),
         url(./Zaychik-Regular.otf) format('otf'),
         url(./Zaychik-Regular.svg#Zaychik-Regular) format('svg'),
         url(./Zaychik-Regular.ttf) format('truetype'),
         url(./Zaychik-Regular.woff) format('woff'),
         url(./Zaychik-Regular.woff2) format('woff2');
        }