
ul {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
}

li {
    list-style-type: none;
    background: url('star1.png') no-repeat;
    width: 80px;
    height: 80px;
}

li:hover,
li:hover~li {
    background: url('star2.png') no-repeat;
}